.body{display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("images/space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:800px;
    width: 100%;
    padding: 0;
}

.marcador{
    background-color: yellowgreen;
}
